---
import type { CertificationExam } from '../sanity/sanity'
import { getExamViaID } from '../sanity/sanity'
import CertExamCard from './CertExamCard.astro'

interface Props {
  heading: string
  pageExams: CertificationExam[]
}
const { pageExams, heading } = Astro.props
let exams: CertificationExam[] = []
let isDataFetched = false

async function fetchExams() {
  for (let exam of pageExams) {
    const fetchedExam = await getExamViaID(exam._ref)
    exams.push(fetchedExam)
  }
  isDataFetched = true
}

await fetchExams()
---

<>
  <h2>{heading}</h2>
  <p>Exams</p>
  <div>
    {
      exams.map((exam) => (
        <>
          <p>certification/{exam.slug.current}</p>
          <CertExamCard
            name={exam.title}
            url={`/${exam.slug.current}`}
            shortDescription={exam.shortDescription}
            longDescription={exam.longDescription}
          />
        </>
      ))
    }
  </div>
</>

<style>
  div {
    display: flex;
    gap: var(--space-sm);
    flex-direction: column;
    width: fit-content;
    padding: var(--space-sm);
    border: 1px solid black;
  }
</style>
