---
import Container from '@components/atoms/Container.astro'
import type { CTAType } from '@lib/sanity'
import type { TshirtSize, HeadingSize } from 'bl-astro'
import Section from '@components/atoms/Section.astro'
import Link from '@components/atoms/Link.astro'
import Heading from '@components/atoms/Heading.astro'
import Flex from '@components/atoms/Flex.astro'
import { accessibleTextColor } from '@lib/accessibleTextColor'

interface Props{
    heading: string
    size: HeadingSize
    ctas?: CTAType[]
    bgColor?: 
        | 'gray-50'
		| 'white'
		| 'blue-300'
		| 'dark-blue-300'
		| 'blue-fuchsia-gradient'
		| 'blue-50'
		| 'blue-800'
    width?: TshirtSize
}
const { heading, ctas, bgColor="gray-50", width="md", size } = Astro.props

const textColor= accessibleTextColor(bgColor)
---

<Section bg={bgColor} paddingY="lg">
    <Container width={width}>
        <Flex align='center' direction='column' gap=".5rem">
        <Heading size={size} color={textColor}>{heading}</Heading>
        <div class="portable-text"><slot/></div>
        {ctas && ctas.map((cta)=> (
            <Link href={cta.externalLink} variant={cta.variant}>{cta.ctaText}</Link>
        )) }</Flex>
    </Container>
</Section>

<style define:vars={{'text-color': textColor} }>
    .portable-text {
        color: var(--text-color);
    }
</style>