---
import { sanityClient } from 'sanity:client';
import PortableText from '../../components/PortableText.astro'
export async function getStaticPaths() {
  const exams = await sanityClient.fetch(`*[_type == "post"]`);

  return exams.map((exam) => {
    return {
      params: {
        slug: exam.slug?.current || '',
      },
      props: { ...exam },
    };
  });
}

const { title,author, shortDescription, longDescription, learningPathway, examStudyGuide, details } = Astro.props;

---

<h1>{title}</h1>

<PortableText portableText={author} />
<PortableText portableText={longDescription} />
<PortableText portableText={learningPathway} />
<PortableText portableText={examStudyGuide} />
<PortableText portableText={details} />


